<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.redmi.iceman.probe">

    <uses-permission android:name="android.permission.NFC" />
    <uses-permission android:name="android.permission.WRITE_SECURE_SETTINGS" />

    <uses-sdk android:minSdkVersion="26" android:targetSdkVersion="27" />

    <application
        android:label="TMS Probe"
        android:allowBackup="false"
        android:debuggable="true">
        <activity
            android:name="com.redmi.iceman.probe.MainActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>
</manifest>
